@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body
{
    
    font-family: sans-serif;
    background-color: #100e17;
    
}
* {
	outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #100e17;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 10vh;
   

}
.navlinks{
    list-style: none;
    display: flex;
    width:35%;
    justify-content: space-around;
}
.navlinks li a{
   text-decoration: none;
   color:#e77326;
   font-family: 'Poppins', sans-serif;
   letter-spacing: 2px;
   font-size: 20px;
      
}
.burger div{
    width:25px;
    height:3px;
    background-color: #e77326;
    margin:5px; 

}
.navborder {
    width:100%;
    height:0.51vh;
    background:linear-gradient(90deg,#f12711,#f5af19,#f12711);
   
}
#greet{
    margin:7vw;
    
}

#greet #hey {
    font-size: 7em;
    background: -webkit-linear-gradient(90deg,#f12711, #f5af19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-family: 'Righteous', cursive;
    letter-spacing: 10px;
    
    }
    #greet #intro{
        color:antiquewhite;
        font-size: 2em;
        line-height: 20vh;
       
        

    }
    #sriganesh{
        position: relative;
        top: -22vh;
        left: -3vw;
    }

     
    svg text{
        stroke:#e77326; 
        font-size: 3em;
        font-family: 'Poppins', sans-serif;
        animation :animate 5s infinite alternate;
        
        
       
    }
    @keyframes animate{
        0%{
            stroke-dasharray: 0 50%;
        }
        100%{
            stroke-dasharray: 50% 0%;
        }
    }
    
    #greet #mydesc{
        color: antiquewhite;
        font-size: 1.5em;
        letter-spacing: 1.5px;
        position: relative;
        top:-20vh;
        
    }
    #model{
        width:90%;
        margin-top: 10vh;
        height: 55vh;
        
    }
  .ccontainer-fluid { width: 100%;
  overflow: hidden;}

   
    .mobilemenu{
        
        position: absolute;
        background:linear-gradient(90deg,#f12711,#f5af19);
        min-height: 100vh;
        right:0px;
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        z-index: 10;
        
        opacity: 0;
        
    }
    .mobilemenu ul{
        list-style: none;
        display: flex;
        height: 50vh;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;  
        transition: all  ease 0.5s 0.2s;
        
    }
    .mobilemenu ul li{
        text-decoration: none;
        
    }
    .mobilemenu ul li a{
        text-decoration: none;
        color: #100e17;
        font-size:1.5em ;
        font-weight: 500;
        
        
    }
   ul li:hover{
        
        transform: scale(1.2);
        transition: all  ease 0.5s;

    }

    .active{
       visibility: visible;
       opacity: 1;
       
       transition: all  ease 0.5s;
    }
    .clicked .line1{
       
        transform: rotate(-45deg)  translate(-5px,6px);
        transition: all ease 0.5s; 
    
    }
    .clicked .line2{
        
        visibility: hidden;
    
    }
    .clicked .line3{
        
        transform: rotate(45deg) translate(-5px,-7px);
        transition: all ease 0.5s; 
    
    }

    ::-webkit-scrollbar {
        width: 15px;
        
      }
      
    /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #000,inset 0 0 1px #000,inset 0 0 5px #000,inset 0 0 7px #000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#240046;
   
    border-radius: 4px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7b2cbf; 
  }


  /*about me*/
  #aboutme,#skills,#contact,#projects{
    margin: auto;
   
    color:rgb(250, 235, 215);
    width: 80%;
    text-align: center;
    margin-top: 10%;
    
  }
  .secheadings{
    
    background: -webkit-linear-gradient(90deg,#f12711, #f5af19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:  'Montserrat', sans-serif;
    font-weight: 900;
    margin-bottom: 10%;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    
   
  
  }
  #aboutcontent{
      
    font-family: 'Poppins', sans-serif;
    
    text-align: left;
    padding-bottom: 7%;
    color: antiquewhite;
    font-size: 1.25em;
    letter-spacing: 1.5px;
  
  }
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background:linear-gradient(90deg,#f12711, #f37335);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .timeline .ccontainer {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .timeline .ccontainer::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #f12711;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #f12711;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #f12711;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #f12711;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f12711 transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .ccontent {
    padding: 20px 30px;
    background:linear-gradient(90deg,#fdc830, #f12711);
    position: relative;
    border-radius: 10px;
    color: #100e17;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
  
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  #model{
    display: none;
  }
  .timeline::after {
      left: 31px;
    }
    .secheadings{
      font-size: 2.5em;
    }
  
  /* Full-width containers */
   .timeline .ccontainer {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
     
    }
    .ccontent{
        background:linear-gradient(90deg, #f12711,#fdc830);
    }
  
  /* Make sure that all arrows are pointing leftwards */
  .timeline .ccontainer::before {
      left: 60px;
      border: medium solid #f12711;
      border-width: 10px 10px 10px 0;
      border-color: transparent #f12711 transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }
  .right .ccontent{
    background:linear-gradient(90deg, #f12711,#fdc830);
  }
  







    @keyframes lightflickering{
        0%{
           text-shadow:0 0 5px #e77326; 
            

        }
      
        50%{
            text-shadow:0 0 0px #e77326;
           
        }
        100%{
          
        }
      
    }
    @media only screen and (max-width: 1024px) {
        .navlinks {
          display: none;
        }
        #greet #hey{
            font-size: 5em;
        }
        #logo {
            transform: scale(0.5);
        }
        #greet #mydesc{
            font-size: 1em;
        }
        .model-c{
            display: none;
        }
      
      }
      @media only screen and (max-width: 1200px){
        .model-c{
            padding: 0px;
            width: 70%;
            height: 50%;
        }
    
      }
      @media only screen and (max-width: 480px) {
        #sriganesh{
            top: -21vh;
        left: -2vw;
        }  
      }
      @media only screen and (min-width: 1024px){
          .burger{
              display: none;
          }
      }

      #loader { 
        border: 12px solid #f12711; 
        border-radius: 50%; 
        border-top: 12px solid #fff; 
        width: 70px; 
        height: 70px; 
        animation: spin 1s linear infinite;
        box-shadow: 0 0 10px#f12711,0 0 20px#f12711,0 0 5px#f12711,0 0 15px#f12711;
    } 
      
    @keyframes spin { 
        100% { 
            transform: rotate(360deg); 
        } 
    } 
      
    .center { 
        position: absolute; 
        top: 0; 
        bottom: 0; 
        left: 0; 
        right: 0; 
        margin: auto; 
    } 





   