*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar{
   background: #100e17;
   height: 80px;  
}
#logo{
    
   float: left;
    padding:010px 50px;
    margin-right: 40px;

    
}
nav ul{
    float: right;
    
    margin-top: 8px;
   
}

 nav ul li{
   display: inline-block;
   padding: 0px 40px;   
   padding-top: 20px;
}
h1 span,h1{
    font-size: 40px;
    background: -webkit-linear-gradient(90deg,#f12711, #f5af19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Righteous', cursive;
    
}
h1{
    color: #ff8a00;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    font-size: 30px;;
}
nav li a{
    text-decoration: none;
        color:#ff8a00;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}
nav li a:hover{
    padding-bottom: 5px;
    border-bottom: solid 2px #ff8a00;
    color: #e52e71;
}
body{
    background-color: #100e17;
}
#navborder{
    width: 100%;
    height: 2px;;
    
    background-image: linear-gradient(90deg,#ff8a00,#e52e71);
    margin-bottom: 10%;
}
.checkbtn{
    font-size: 30px;
    color:#ff8a00;
    float: right;
    line-height: 80px;
    margin-right:40px;
    cursor: pointer;
    display: none;

}
#check{
    display: none;
}

#greet #hey {
    font-size: 7em;
    background: -webkit-linear-gradient(90deg,#f12711, #f5af19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Righteous', cursive;
    letter-spacing: 10px;
   
  }
  #greet #fsent{
      color: rgb(250, 235, 215);
      font-family: 'Poppins', sans-serif;
      font-weight: 100;
      letter-spacing: 3px;
      
      font-size: 1.5em;
      
     
  }
 #nameimg{
      display:flex;
      justify-content:space-around;
      margin-bottom: 1%;
      
  }
#nameimg #greet{
   
  /*  border: solid 2px #f37335;*/
    padding-top: 1%;
    padding-left: 7%;
    
    
}
#nameimg img{
    
    /*border: solid 2px #f37335;*/
    width: 25%;
    padding-right: 5%;
    
}
#quote{
    display: flex;

}
#quote p{
    color: rgb(250, 235, 215);
    font-family: 'Ubuntu', sans-serif;
    margin-top: 4%;
    margin-left:16%;
    font-size: 30px;
    font-style: italic; 
    flex-basis: 100%;

}
#quote #quoteby{
    font-size: 14px;
    font-style: normal;
    margin-left: 2%;
   
    
}
@media(max-width:900px){
    .checkbtn{
        display:block;

    }
    ul{
        position:fixed;
        width:100%;
        height: 100vh;
        background:linear-gradient(90deg,#fdc830, #f37335);
       
        top: 74px;
    
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height:30px;

    }
    nav ul li a{
        font-size: 20px;
        color: #100e17;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 4px;
        font-weight: bold;
    }


     a:hover,a:active {

        background:none;
        color:#fff;
        font-size: 22px;

        }
        #check:checked ~ul{
            left:0;
            
        }
        #nameimg{
            flex-direction: column;
        }
        #nameimg img{
    
            /*border: solid 2px #f37335;*/
            width: 80%;
            padding-left: 25%;
            
            
        }
        #quote #quoteby{
            font-size: 14px;
            font-style: normal;
            
           
            
        }
        #quote p{
           
            margin-top: 4%;
            margin-left:8%;
            font-size: 24px;
            text-align: center;
            margin-right: 4%;
            
            
            
            
        
        }
}

 